{
  "tabWidth": 2,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "trailingComma": "none",
  "singleQuote": true,
  "semi": true,
  "endOfLine": "auto",
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindConfig": "./tailwind.config.ts",
  "tailwindFunctions": ["tw", "clsx", "cn", "cva"]
}
